#inputBtn {
  display: block;
  margin: 20px auto;  /* centers it horizontally */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.box{
    
    border : 2px solid black;
   
    
   
    
  box-sizing: border-box;
    

}

#container
{
    display:flex;
    
    flex-wrap:wrap;
    width:600px;
    height:600px;
    margin:0 auto;



}

